.hero {
    text-align: center;
    background-color: #ffc89fd7;
    padding: 50px 0;
}
.landing {
    max-width: 100%;
    height: auto;
}

.navbar{
    background-color: #f09f62d7;
    box-shadow: 2px 2px 2px ;
}
.icon {
    height: 40px;
    padding: 0em;
    margin: 0em;
}
.about {
    text-align: center
}
.bg-hero-image {
    background-image: url('images/Main\ Logo\ \(1\).png');
    background-position: center center;
    height: 20rem;;
    
} 
.card {
    background-color: rgb(216, 216, 216);
    margin-top: 2rem;
    box-shadow: 10px 10px 2px;
    margin: 20%;

}
.box {
    box-shadow: 6px 6px 12px;
    border-radius: 5px;
    margin: 6em;
}
p {
	/* Use a flexbox layout */
	display: flex;
	
	/* Make a horizontal flexbox (the default) */
	flex-direction: row;
	
	/* The important part: vertically center the items */
	align-items: center;
}
