.hero {
    text-align: center;
    background-color: #ffc89fd7;
    padding: 50px 0;
}
.landing {
    max-width: 100%;
    height: 1rem;
    height: auto;
}

.navbar{
    background-color: #f09f62d7;
    box-shadow: 2px 2px 2px ;
}
.icon {
    height: 40px;
    padding: 0em;
    margin: 0em;
}
.about {
    text-align: center;
}
.products {
    text-align: center;
}
.bg-hero-image {
    background-image: url('images/Main\ Logo\ \(1\).png');
    background-position: center center;
    height: 20rem;;
    
} 
.card {
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
    box-shadow: 10px 10px 2px;


}
.box {
    box-shadow: 6px 6px 12px;
    border-radius: 5px;
    margin: 6em;
}
p {
	/* Use a flexbox layout */
	display: flex;
	
	/* Make a horizontal flexbox (the default) */
	flex-direction: row;
	
	/* The important part: vertically center the items */

}
#teamCards {
    margin-left: 2em;
    margin-right: 2em;
}
.contact{
    padding: 4%;
}
.card-header{
color: rgb(255, 255, 255);
background-color: #ffc99f;
border: double 6px;
border-radius: 50px;
font-size: 30px;
  }
#info{
    background: #ffc99f;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.label{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #ffc99f2f;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.footer{
    background-color: #ffc89fd7; 
    padding-top: 10px;
}
